   body {
            background-image:url("../images/skybackground.jpg");
            background-size: cover;
            font-family: 'Lato', sans-serif;

            color: #436b15;
            margin: 1px:
        }

    h1, h2, h3 {
        font-family: 'Oswald', serif;
        color: #000;
        text-shadow: 1px 1px 1px #96cc58;
        font-style: smallcaps;
    /*font-size:30px: */
    }

    p {
        color: white;
    }
    
    li {
        color:green;
    }
    div {

  /*border: double white;*/
}
img{ 
    max-width: 95%;

}
figcaption {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
fieldset{
    width: fit-content;
}
*{
	box-sizing: border-box;
	}

.col {
		float: left;
	    padding: 15px;  
	}

.row {
	content: “”;
	clear: both;
	display: block;
	}

